/* font-face */
@font-face {
    font-family: 'AnonymousPro';
    src: './fonts/AnonymousPro-Regular.ttf' format('truetype');
}  
@font-face {
    font-family: 'Alegreya-Regular';
    src: './fonts/Alegreya-Regular.ttf' format('truetype');
    font-weight: normal;
    font-style: normal;
}  
@font-face {
    font-family: 'ProzaLibre';
    src: './fonts/ProzaLibre-Regular.ttf' format('truetype');
}  
@font-face {
    font-family: 'ostrich';
  src: './fonts/ostrich-regular.ttf' format('truetype');
}  
@font-face {
    font-family: 'CaviarDreams';
  src: './fonts/CaviarDreams.ttf' format('truetype');
}  
@font-face {
    font-family: 'Antonio-Regular';
  src: './fonts/Antonio-Regular.ttf' format('truetype');
}  

h1.myName{
    font-family: "ProzaLibre" !important;
    --color: #FE7877 !important;
    text-shadow: 12px 12px 12px #000;
    font-size: 6vw !important;
    font-weight: 600 !important;
}

.current{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentBox{
  text-shadow: 4px 4px 12px #000;
}

.btn-info{
  background:#313244 !important;
  color:#FE7877 !important;
  border-radius: 0% !important;
  font-size:20px !important;
  font-weight: 500 !important;
  margin-top:0.2% !important;
  margin-bottom:4% !important;
  margin-right:5px !important;
  margin-left:5px !important;
  border-radius: 5% !important;
  border: 1px solid #fff !important;
  box-shadow: 0 0 1px #fff !important;
}

.btn-info:hover{
   background-color:#FE7877 !important;
   color:#313244 !important;
   font-weight:bold !important;
}